# Ignorera miljövariabler
.env
.env.test
public/css/app.css
public/js/app.js
public/images/user
# Composer- och npm-relaterade filer

vendor/
node_modules/

# PHPUnit-cachefiler
.phpunit.cache
.phpunit.result.cache
phpunit.xml.bak

# PhpStorm-specifika filer
.idea/
cache/
storage/
.php-cs-fixer.cache
infection-report.html
